use_nix() {

  if [ -f "shell.nix" ]; then
    local version="$(stat -c %Y shell.nix)"
  elif [ -f "default.nix" ]; then
    local version="$(stat -c %Y default.nix)"
  fi

  local cache=".direnv/cache-${version:-unknown}"

  if [[ ! -e "$cache" ]] || \
    [[ "$HOME/.direnvrc" -nt "$cache" ]] || \
    [[ .envrc -nt "$cache" ]] || \
    [[ default.nix -nt "$cache" ]] || \
    [[ shell.nix -nt "$cache" ]];
  then
    [ -d .direnv ] || mkdir .direnv
    echo ${passthru}
    local tmp=$(nix-shell --show-trace --pure "$@" \
      --run "\"$direnv\" dump zsh")
    echo "$tmp" > "$cache"
  fi

  local path_backup=$PATH
  eval "$(< $cache)"
  export PATH=$PATH:$path_backup

  if [[ $# = 0 ]]; then
    watch_file default.nix
    watch_file shell.nix
  fi
}

use nix
